<article>
  <ul>
    {% if show_author_link %}
      <li>
        Автор: <a href="{% url 'posts:profile' post.author.username %}">{{ post.author.get_full_name }}</a>
      </li>
    {% endif %}
    <li>
      🗓 Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  <p>
    {{ post.text|linebreaks }}
    <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
  </p>
  {% if show_group_link and post.group %}
    <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы {{ post.group.title }}</a>
  {% endif %}  
  {% if not forloop.last %}<hr>{% endif %}
</article>