{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>При создании поекта использованы технологии: ОПП, создание приложений,  роутинг запросов в urls.py и проектирование структуры адресов, обработчики (view-функции, view-классы), HTML страницы в Django, Django ORM и модели, создание форм, валидация форм, декораторы и др.</p>
  </article>
</div>
{% endblock %}