{% extends 'base.html' %}
{% block title %}
  {% if is_edit %}
    Редактировать запись
  {% else %}
    Добавить запись
  {% endif %}
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          {% include 'includes/error_message.html' %}
          {% if is_edit %}
          Редактировать пост
          {% else %}
          Новый пост
          {% endif %}
        </div>
        <div class="card-body"> 
          <form method="post" enctype="multipart/form-data"
            {% if is_edit %}
              action="{% url 'posts:post_edit' post.id %}"
            {% else %}
              action="{% url 'posts:post_create' %}"
            {% endif %} 
          >
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group row my-3 p-3">            
                {% include 'includes/labels_and_help_texts.html' %}
              </div>
            {% endfor %}            
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">
                {% if is_edit %}
                  Сохранить
                {% else %}
                  Добавить
                {% endif %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}